:root {
    --text-color: whitesmoke;
    --primary-color: rgb(128, 107, 243);
}

@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #282a36;
}

header {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.3)
}

.links {
    text-align: center;
}

.links a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0 30px;
}

header .links a:hover {
    color: var(--primary-color);
    transition: 400ms;
}

#wrapper {
    text-align: center;
}

#wrapper img {
    border-radius: 50%;
    border: 2px solid var(--text-color);
    margin: 36px 0px;
    height: 350px;
}

#wrapper h1 {
    color: var(--text-color);
    font-size: 48px;
    line-height: 50px;
    margin-top: 16px;
}

#wrapper p {
    color: var(--text-color);
    font-size: 16px;
    line-height: 26px;
    margin: 16px auto;
    font-weight: 400;
    max-width: 500px;
}

#wrapper li {
    color: var(--text-color);
    font-size: 16px;
    line-height: 32px;
    max-width: 400px;
    margin: 0 auto;
    list-style: none;
}

#wrapper li:hover {
    font-size: 32px;
    font-size: 42px;
    color: var(--primary-color);
}

#links-footer {
    margin-top: 32px;
}

#links-footer a {
    margin: 0 16px;
    color: var(--primary-color);
}

#links-footer a:hover {
    color: whitesmoke;
    border-bottom: 2px solid var(--primary-color);
    transition: 400ms;
}